
       
        <!-- Hero Slider start -->
        <div class="hero-slider hero-slider-three">
            <div class="single-slide-3 d-flex align-items-center bg-image-two">
                <!-- Hero Content One Start -->
                <div class="hero-content-three container-fluid">
                    <div class="row">
                        <div class="col-lg-12"> 
                            <div class="yt_player_inner player-style-1">
                                <iframe style="height: 555px;" [src]="videoURL(topVideo.src)" allowfullscreen allow="autoplay"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Hero Content One End -->
            </div>
            
        </div>
        <!-- Hero Slider end -->
        
        <!-- Our-product-area Area  -->
        <div class="our-product-area pt--50">
            <div class="container-coustom">
               
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title-3">
                            <h2>Other Matches</h2>
                        </div>
                    </div>
                </div>
                
                <div class="row product-carousl-active">
                   
                    <div class="col-lg-3">
                        <!-- single-product-wrap -->
                        <div class="single-product-wrap mt--15">
                            <div class="yt_player_inner player-style-1">
                                <!-- <iframe style="height: 370px;" [src]="videoURL(otherVideos[0].src)" allowfullscreen></iframe> -->
                                <a href="index"> <iframe style="height: 370px;" [src]="videoURL(otherVideos[0].src)" allowfullscreen></iframe></a>
                            </div>
                            <div class="product-contents">
                                <h4><a href="playlist?matchId=1">{{otherVideos[0].title}}</a></h4>
                                <div class="pro-quality">
                                    
                                </div>
                            </div>
                        </div>
                        <!--// single-product-wrap -->
                    </div>
                    
                    <div class="col-lg-3">
                        <!-- single-product-wrap -->
                        <div class="single-product-wrap mt--15">
                            <div class="yt_player_inner player-style-1">
                               <a href="index"> <iframe style="height: 370px;" [src]="videoURL(otherVideos[1].src)" allowfullscreen></iframe></a>
                            </div>
                            <div class="product-contents">
                                <h4><a href="playlist?matchId=2">{{otherVideos[1].title}}</a></h4>
                                <div class="pro-quality">
                                    
                                </div>
                            </div>
                        </div>
                        <!--// single-product-wrap -->
                    </div>
                    
                    <div class="col-lg-3">
                        <!-- single-product-wrap -->
                        <div class="single-product-wrap mt--15">
                            <div class="yt_player_inner player-style-1">
                                <iframe style="height: 370px;" [src]="videoURL(otherVideos[2].src)" allowfullscreen></iframe>
                            </div>
                            <div class="product-contents">
                                <h4><a href="playlist?matchId=3">{{otherVideos[2].title}}</a></h4>
                                <div class="pro-quality">
                                    
                                </div>
                            </div>
                        </div>
                        <!--// single-product-wrap -->
                    </div>
                    
                    <div class="col-lg-3">
                        <!-- single-product-wrap -->
                        <div class="single-product-wrap mt--15">
                            <div class="yt_player_inner player-style-1">
                                <iframe style="height: 370px;" [src]="videoURL(otherVideos[3].src)" allowfullscreen></iframe>
                            </div>
                            <div class="product-contents">
                                <h4><a href="playlist?matchId=4">{{otherVideos[3].title}}</a></h4>
                                <div class="pro-quality">
                                    
                                </div>
                            </div>
                        </div>
                        <!--// single-product-wrap -->
                    </div>
                    
                </div>
            </div>
        </div>
        <!--// Our-product-area Area  -->
        
        
        <!--// Our-product-area Area  -->
        
        <!-- Footer Area -->
        
        <!--// Footer Area -->    
        
   