<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kick off scrapping script</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script></head>
<script>
function myFunction() {
var match_id= $('#match_id').val();
var club_id= $('#club_id').val();
var match_hours=$('#match_hours').val();
  $.ajax({
              url: "/join",
              type: "POST",
              data: {match_id:match_id,
              club_id:club_id,hours:match_hours}          }).done(function(response) {            
                  var html= "<br><p> <b> RESULT : <b><p>";            
                    response =response.result;
                 $.each(response,function(key,val){
                 console.log(val);
                    html+="<p>"+val+"<p>"                });
                html +="<br>";
                $(".show-data").append(html);
            });
};  

console.log("Opening the SSE connection")
    var source = new EventSource("/progress");
    source.onmessage = function(event) {
        sent_data = JSON.parse(event.data)
        console.log(sent_data)
        var done = true
        for (i in sent_data) {
            console.log(i, sent_data[i])
            
            // data received is in the form : {'0':value, '1':value}
            qi = "#status"
            $(qi).text("Script Status:" + sent_data['status'])

            qi = "#iteration"
            $(qi).text("Script is on iteration:" + sent_data['iteration']+" out of " + sent_data['iterations'])
        }
        
    }

;
</script>
<body>
    <p>
        Enter the match_id, and club_id <br>
        <br>Match_ID<input type="text" id="match_id" name="match_id"><br><br>
            Club ID<input type="text" id="club_id" name="club_id"><br><br>

            Hours to Run<input type="text" id="match_hours" name="match_hours"><br><br>
            <button id="clicked" onclick="myFunction()">Submit</button>
        </p>


          <div class="status" id='status'> 

          </div>

          <div class="iteration" id='iteration'> 

        </div>
        <div class="show-data" >    </div>

</body>
</html>